/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url("simplelightbox/dist/simple-lightbox.min.css");


.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  list-style: none;
  width: 50%;
}

.gallery-item {
  width: calc((100% - 32px) /3);
  margin: 0 auto;
  position: relative;
}

.gallery-image {
  width: 360px;
  object-fit: contain;
  
}
/* 
.gallery-text {
  background-color: black;
  opacity: 0%;
  color: azure;
  position: absolute;
  bottom: 0.5%;
  width: 100%;
  display: none;

} */
